
@{
    ViewData["Title"] = "Boeken";
}

<h2>Boeken</h2>

<form name="Boeken" action="/HotelBoeking/Boeken" method="post">
    <div>HotelNaam: <input name="HotelNaam" type="text" /></div>
    <div>Datum: <input name="Datum" type="text" /></div>
    <div>Aantal Personen: <input name="AantalPersonen" type="text" /></div>
    <div><input type="submit" value="Boeken" /></div>
</form>


