
@using WebWeek2Deel2.Models
@model Hotel

@{
    ViewData["Title"] = "Geboekt";
}

<h2>Geboekt</h2>

<div>Er is een nieuwe boeking gedaan</div>
<div>Naam: @Model.HotelNaam</div>
<div>Plaats: @Model.Datum</div>
<div>Aantal Personen: @Model.AantalPersonen</div>
